.secaoDiversos {
    margin-top: 40px;
    margin-bottom: 100px;
    
    width: 100%;
    height: 390px;
}

.secaoDiversos__cabecalho {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    padding: 0px 50px;
}


.secaoDiversos__cabecalho-titulo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 30px;
}


.secaoDiversos__cabecalho-botao {
    background-color: #E5E5E5;  
    border: none;
    color: #2A7AE4;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    margin-top: 10px;
}

.secaoDiversos__cabecalho-botao img {
    margin-left: 5px;
    height: 12px;
    width: 16px;
}

.secaoDiversos__cabecalho-botao:hover {
    cursor: pointer;
}


.secaoDiversos__produtos {
    display: flex;
    justify-content: space-around;
    padding: 0 50px;
}


.secaoDiversos__produtos-itens {
    text-align: center;
}

.secaoDiversos__produtos___itens-imagem {
    width: 180px;
    height: 240px;
}

.secaoDiversos__produtos___itens-nome {
    font-size: 18px;
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: 10px;
}

.secaoDiversos__produtos___itens-preco {
    margin-bottom: 10px;
}

.secaoDiversos__produtos___itens-preco s {
    font-size: 12px;
    font-weight: 300;
}

.secaoDiversos__produtos___itens-link {
    color: #2A7AE4;
    text-decoration: none;
}

.secaoDiversos__produtos___itens-link a {
    margin-top: 50px;
}




@media screen and (min-width: 0px) {
    .secaoDiversos {
        width: 576px;
        height: 1100px;
    }

    .secaoDiversos__cabecalho {
        padding-left: 10px;
    }

    .secaoDiversos__cabecalho-botao {
        margin-right: 40px;
    }

    .secaoDiversos__cabecalho-titulo {
        font-size: 25px;
    }

    .secaoDiversos__produtos {
        flex-wrap: wrap;
    }

    .secaoDiversos__produtos-itens {
        padding-top: 20px;
    }
}

@media screen and (min-width: 576px) {
    .secaoDiversos {
        width: 768px;
        height: 800px;
    }

    .secaoDiversos__cabecalho-titulo {
        font-size: 28px;
    }

    .secaoDiversos__produtos {
        flex-wrap: wrap;
    }

    .secaoDiversos__produtos-itens {
        padding-top: 20px;
    }
}

@media screen and (min-width: 768px) {
    .secaoDiversos {
        width: 1440px;
        height: 390px;
    }

    .secaoDiversos__produtos {
        flex-wrap: nowrap;
    }
}